#**Geocode version 1.0**

data is taken from economic census of banglore(BBMP).

***import libraries***

In [0]:
import requests
import time
import json
import pandas as pd

places.csv is extracted details of places , streets and addresses from BBMP data

In [0]:
df=pd.read_csv("places.csv")

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 2 columns):
Unnamed: 0    527 non-null int64
places        527 non-null object
dtypes: int64(1), object(1)
memory usage: 6.2+ KB

In [0]:
df=df.drop("Unnamed: 0",1)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 1 columns):
places    527 non-null object
dtypes: object(1)
memory usage: 2.1+ KB

In [0]:
import numpy as np

In [0]:
df["latitude"]=np.nan

In [0]:
df["longitude"]=np.nan

In [0]:
df["class"]=np.nan

In [0]:
df["type"]=np.nan

In [0]:
df.head(10)

,places,latitude,longitude,class,type
0,KANNURU,NaN,NaN,NaN,NaN
1,DODDA BANASHALLI,NaN,NaN,NaN,NaN
2,"MAHADEVAPURA,",NaN,NaN,NaN,NaN
3,BPL LIMITED AVALAHALLI NDIA,NaN,NaN,NaN,NaN
4,AAVALAHALL YELAHANKA,NaN,NaN,NaN,NaN
5,"AVALAHALLI, OLD MADRAS ROAD, VIRGONAGAR POST",NaN,NaN,NaN,NaN
6,"11TH MILE, OLD MADRAS ROAD, AVALAHALLI, VIRGON...",NaN,NaN,NaN,NaN
7,TIMBARHARD LAYOU AVALAHALLI MYSORE ROAD 26,NaN,NaN,NaN,NaN
8,"VIRGO NAGAR INDUSTRIAL ESTATE, OPP H.P.PETROL ...",NaN,NaN,NaN,NaN
9,"AVALAHALLI, OLD MADRAS ROAD",NaN,NaN,NaN,NaN

***Nominatim API is used to geocode the location***

In [0]:

for index, row in df.iterrows():
    text=row['places']
    text=' '.join(text.split())
    text=text.split(",")
    text="+".join(text)
    text=text.replace(" ", "")
    #bounding coordinates added to restrict search results to city of banglore( approx)
    request = requests.get('https://nominatim.openstreetmap.org/?format=json&addressdetails=1&q='+text+'&format=json&limit=1&countrycodes=in&bounded=1&viewbox=76.9829,12.4578,78.2133,13.6491')
    # variable x is of type string.the size of empty result is 2 ( ie x=[]) 
    x=request.text
    if len(x)!= 2:
        parsed_x = json.loads(x)
        df.iloc[index,1]=parsed_x[0]['lat']
        df.iloc[index,2]=parsed_x[0]['lon']
        df.iloc[index,3]=parsed_x[0]['class']
        df.iloc[index,4]=parsed_x[0]['type']
    
    time.sleep(1)

In [0]:
df.head(10)

,places,latitude,longitude,class,type
0,KANNURU,13.0923096,77.6539427,place,village
1,DODDA BANASHALLI,NaN,NaN,NaN,NaN
2,"MAHADEVAPURA,",13.0671165,77.3201264,place,village
3,BPL LIMITED AVALAHALLI NDIA,NaN,NaN,NaN,NaN
4,AAVALAHALL YELAHANKA,NaN,NaN,NaN,NaN
5,"AVALAHALLI, OLD MADRAS ROAD, VIRGONAGAR POST",NaN,NaN,NaN,NaN
6,"11TH MILE, OLD MADRAS ROAD, AVALAHALLI, VIRGON...",NaN,NaN,NaN,NaN
7,TIMBARHARD LAYOU AVALAHALLI MYSORE ROAD 26,NaN,NaN,NaN,NaN
8,"VIRGO NAGAR INDUSTRIAL ESTATE, OPP H.P.PETROL ...",NaN,NaN,NaN,NaN
9,"AVALAHALLI, OLD MADRAS ROAD",NaN,NaN,NaN,NaN

**Observation**

The final result is not satisfactory as the location addresses consisting of spelling mistakes were not classified



---



**Corrections Needed**

*   filter the address based on filtering.
*   identify which spelling is found correct by the open street maps
*   identify and  create a module for the purpose.